
<%= form_with(model: reservation, local: true) do |form| %>
  

  <div class = "field">
        <%= form.label :Row%>
        <%= form.select :row, ["A", "B", "C", "D"]%>
  </div>

  
  <div class="field">
    <label>Seats: </label>
    <% form.label :seat_1 %>
    <label><%= form.check_box :seat_1 %> Seat 1 </label>
  </div>
  
  <div class="field">
    <% form.label :seat_2 %>
    <label><%= form.check_box :seat_2 %> Seat 2 </label>
  </div>

  <div class="field">
    <% form.label :seat_3 %>
    <label><%= form.check_box :seat_3 %> Seat 3 </label>
  </div>

  <div class="field">
    <% form.label :seat_4 %>
    <label><%= form.check_box :seat_4 %> Seat 4 </label>
  </div>

  <div class="field">
    <% form.label :seat_5 %>
    <label><%= form.check_box :seat_5 %> Seat 5 </label>
  </div>

  <div class="field">
    <% form.label :seat_6 %>
    <label><%= form.check_box :seat_6 %> Seat 6 </label>
  </div>

  <div class="field">
    <% form.label :seat_7 %>
    <label><%= form.check_box :seat_7 %> Seat 7 </label>
  </div>

  <div class="field">
    <% form.label :seat_8 %>
    <label><%= form.check_box :seat_8 %> Seat 8 </label>
  </div>

  <div class="field">
    <% form.label :seat_9 %>
    <label><%= form.check_box :seat_9 %> Seat 9 </label>
  </div>

  <div class="field">
    <% form.label :seat_10 %>
    <label><%= form.check_box :seat_10 %> Seat 10 </label>
  </div>

  <div class="field">
    <% form.label :seat_11 %>
    <label><%= form.check_box :seat_11 %> Seat 11 </label>
  </div>

  <div class="field">
    <% form.label :seat_12 %>
    <label><%= form.check_box :seat_12 %> Seat 12 </label>
  </div>

  <div class="field">
    <%= form.label :hour_id %>
    <%= form.number_field :hour_id %>
  </div>

  <div class="field">
    <%= form.label :movie_id %>
    <%= form.number_field :movie_id %>
  </div>

  <div class="field">
    <%= form.label :room_id %>
    <%= form.number_field :room_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
