<%= form_with(model: movie, local: true) do |form| %>
  
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_area :image %>
  </div>

  <div class = "field">
  <%= form.label :Schedule%>
  <%= form.select :schedule, @available_hour%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
