<%= form_with(model: reservation, local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "field">
        <%= form.label :Row%>
        <%= form.select :row, ["A", "B", "C", "D"]%>
  </div>

  
  <div class="field">
    <label>Seats: </label>
    <% form.label :seat_1 %>
    <label><%= form.check_box :seat_1 %> 1 </label>
  </div>
  
  <div class="field">
    <% form.label :seat_2 %>
    <label><%= form.check_box :seat_2 %> 2 </label>
  </div>

  <div class="field">
    <% form.label :seat_3 %>
    <label><%= form.check_box :seat_3 %> 3 </label>
  </div>

  <div class="field">
    <% form.label :seat_4 %>
    <label><%= form.check_box :seat_4 %> 4 </label>
  </div>

  <div class="field">
    <% form.label :seat_5 %>
    <label><%= form.check_box :seat_5 %> 5 </label>
  </div>

  <div class="field">
    <% form.label :seat_6 %>
    <label><%= form.check_box :seat_6 %> 6 </label>
  </div>

  <div class="field">
    <% form.label :seat_7 %>
    <label><%= form.check_box :seat_7 %> 7 </label>
  </div>

  <div class="field">
    <% form.label :seat_8 %>
    <label><%= form.check_box :seat_8 %> 8 </label>
  </div>

  <div class="field">
    <% form.label :seat_9 %>
    <label><%= form.check_box :seat_9 %> 9 </label>
  </div>

  <div class="field">
    <% form.label :seat_10 %>
    <label><%= form.check_box :seat_10 %> 10 </label>
  </div>

  <div class="field">
    <% form.label :seat_11 %>
    <label><%= form.check_box :seat_11 %> 11 </label>
  </div>

  <div class="field">
    <% form.label :seat_12 %>
    <label><%= form.check_box :seat_12 %> 12 </label>
  </div>

  <div class = "field">
        <%= form.text_field :hour_id, value: @hour.id, type: :hidden%>
  </div>

  <div class = "field">
        <%= form.text_field :movie_id, value: @movie.id, type: :hidden%>
  </div>

  <div class = "field">
        <%= form.text_field :room_id, value: @room.id, type: :hidden%>
  </div>

  <% @string_id_seats = "" %>
  <% @list_seats_sorted.each do |seat| %>
  <%  @string_id_seats = @string_id_seats + seat.id.to_s + ' ' %>
  <% end %>

  <div class = "field">
        <%= form.text_field :string_id_seats, value: @string_id_seats, type: :hidden%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
