<p id="notice"><%= notice %></p>

<h1>Reservations</h1>

<% if @reservations.empty? %>
<h3> No reservations yet </h3>
<% end %>

<div class = "structure_of_index_of_movies">
<% @reservations.each do |reservation| %>
  <div class="movies_in_index_of_movies">
  <h2 class="title_movie"> Reservation number: <%=reservation.id%> </h2>
  <h3> Room: <%=reservation.room_id%> </h3>
  <% movie = Movie.find_by(id: reservation.movie_id) %>
  <h3> Movie: <%=movie.title%> </h3>
  <% hour = Hour.find_by(id: reservation.hour_id) %>
  <h3> Schedule: <%=hour.hourinterval%> </h3>
  <%= link_to 'Details', reservation_path(reservation) %>
  </div>
<% end %>
</div>

<br>

<%= link_to 'Back to main page', root_path %>