<h1>New Reservation</h1>

<p id="notice"><%= notice %></p>

<h1>Seats</h1>
<h3> Room: <%= @room.id %> </h3>
<h3> Movie: <%= @movie.title %> </h3>
<h3> Time: <%= @hour.hourinterval %> </h3>
<div class = "blocks_of_columns">
  <div class="corridor"> <b>Corridor</b> </div>
  <div class="block_column">
    <table>
      <thead>
        <tr>
          <th colspan="14"></th>
        </tr>
      </thead>

      <% @list_seats_sorted = sort_list(@seats) %>
      <% letters = ['A', 'B', 'C', 'D'] %>
      <% counter = 0 %>

      <tbody>

        <% (1..48).step(12) do |n| %>
          <tr>
            <td> <%= letters[counter] %> </td>

            <% (n..n+11).step(1) do |i| %>
              <% seat = @list_seats_sorted[i-1]%>

              <% if seat.occupied == "NO" %>
                <td class="if_not_occupied"><%= seat.number %></td>
              <% else %> 
                <td class="if_occupied"><%= seat.number%></td>
              <% end %>

            <% end %>
            
            <td>  </td>
            <% counter = counter+1 %> 
          </tr>
          <tr>
            <td colspan="13"></td>
          </tr>
        <% end %>

      </tbody>
    </table>
  <div class="screen">
  <b>Screen</b>
  </div>
</div>
<div class="corridor"> <b>Corridor</b> </div>
</div>
</br>

<%= render 'form', reservation: @reservation %>

</br>
<%= link_to 'Back to main page', root_path %>