<p id="notice"><%= notice %></p>

<h1>Reservation number <%= @reservation.id %></h1>
<h3> Room: <%= @room.id %> </h3>
<%= puts "AQUI VIENE" %>
<%= puts "#{@hour.id}" %>
<h3> Movie: <%= @movie.title %> </h3>
<h3> Time: <%= @hour.hourinterval %> </h3>
<div class = "blocks_of_columns">
  <div class="corridor"> <b>Corridor</b> </div>
  <div class="block_column">
    <table>
      <thead>
        <tr>
          <th colspan="14"></th>
        </tr>
      </thead>

      <% list_seats_sorted = sort_list(@seats) %>
      <% letters = ['A', 'B', 'C', 'D'] %>
      <% counter = 0 %>

      <tbody>

        <% (1..48).step(12) do |n| %>
          <tr>
            <td> <%= letters[counter] %> </td>

            <% (n..n+11).step(1) do |i| %>
              <% seat = list_seats_sorted[i-1]%>

              <% if seat.occupied == "NO" %>
                <td class="if_not_occupied"><%= link_to seat.number, { :controller => :hours, :action => :change_color, :seat_id => seat.id} %></td>
              <% else %> 
                <td class="if_occupied"><%= link_to seat.number, { :controller => :hours, :action => :change_color, :seat_id => seat.id} %></td>
              <% end %>

            <% end %>
            
            <td>  </td>
            <% counter = counter+1 %> 
          </tr>
          <tr>
            <td colspan="13"></td>
          </tr>
        <% end %>

      </tbody>
    </table>
  <div class="screen">
  <b>Screen</b>
  </div>
</div>
<div class="corridor"> <b>Corridor</b> </div>
</div>

<p>
  <strong>Row:</strong>
  <%= @reservation.row %>
</p>

<p>
  <strong>Reserved seats:</strong>
  <% if @reservation.seat_1 == 1 %>
  <%= 'Seat 1' %>
  <% end %>
  <% if @reservation.seat_2 == 1 %>
  <%= 'Seat 2' %>
  <% end %>
  <% if @reservation.seat_3 == 1 %>
  <%= 'Seat 3' %>
  <% end %>
  <% if @reservation.seat_4 == 1 %>
  <%= 'Seat 4' %>
  <% end %>
  <% if @reservation.seat_5 == 1 %>
  <%= 'Seat 5' %>
  <% end %> 
  <% if @reservation.seat_6 == 1 %>
  <%= 'Seat 6' %>
  <% end %> 
  <% if @reservation.seat_7 == 1 %>
  <%= 'Seat 7' %>
  <% end %>
  <% if @reservation.seat_8 == 1 %>
  <%= 'Seat 8' %>
  <% end %>
  <% if @reservation.seat_9 == 1 %>
  <%= 'Seat 9' %>
  <% end %>
  <% if @reservation.seat_10 == 1 %>
  <%= 'Seat 10' %>
  <% end %>
  <% if @reservation.seat_11 == 1 %>
  <%= 'Seat 11' %>
  <% end %> 
  <% if @reservation.seat_12 == 1 %>
  <%= 'Seat 12' %>
  <% end %> 
</p>



<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
