<p id="notice"><%= notice %></p>

<p>
  <strong>Seats:</strong>
  <%= @reservation.seat_1 %>
</p>

<p>
  <strong>Row:</strong>
  <%= @reservation.row %>
</p>

<p>
  <strong>Hour:</strong>
  <%= @reservation.hour_id %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @reservation.movie_id %>
</p>

<p>
  <strong>Room:</strong>
  <%= @reservation.room_id %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> 
<% @hour = Hour.find_by(id: @reservation.hour_id)
<%= link_to 'Back', hours_path %>
